.section-title {
  @include pxRem(font-size, 35);
  position: relative;
  font-weight: 600;
  &::after {
    content: "";
    @include pxRem(height, 2);
    @include pxRem(top, 40);
    @include pxRem(border-top, 2 solid map-get($colors, primary));
    width: 12%;
    position: absolute;
    left: 44%;
  }
}
.subtitle {
  @include pxRem(font-size, 18);
  @include pxRem(line-height, 40);
  color: map-get($colors, primary);
  font-weight: 400;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.text-white {
  color: map-get($colors, white);
}
a {
  transition: all 0.3s ease-out 0s;
}
.bg-opacity, .bg-opacity2, .bg-opacity3 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.bg-opacity {
  background: rgba(0, 0, 0, 0.6);
}
.bg-opacity2 {
  background: rgba(0, 0, 0, 0.8);
}
.bg-opacity3 {
  background: rgba(0, 0, 0, 0.9);
}
