.section-service {
  .service-top {
    @include pxRem(padding, 150 200 200);
    background-image: url(../image/bg-service.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .section-title {
      @include pxRem(line-height, 50);
      color: map-get($colors, white);
      &::after {
        @include pxRem(top, 115);
      }
    }
    .btn-primary {
      @include pxRem(padding, 17 33);
      @include pxRem(margin-top, 115);
      text-transform: uppercase;
      i {
        @include pxRem(margin-right, 4);
      }
      &:hover {
        background-color: map-get($colors, bg-black);
        border: 1px solid map-get($colors, bg-black);
      }
    }
  }
  .service-bottom {
    @include pxRem(height, 700);
    background-color: map-get($colors, bg-light);
    .section-title {
      @include pxRem(line-height, 50);
      left: 0;
      &::after {
        @include pxRem(top, 160);
        left: 0;
      }
    }
    .description {
      @include pxRem(margin-top, 80);
      @include pxRem(line-height, 23);
      color: map-get($colors, txt-gray2);
    }
    .main-content {
      @include pxRem(padding, 100);
      @include pxRem(top, -100);
      background-color: map-get($colors, white);
      flex-wrap: wrap;
    }
    .btn-primary {
      @include pxRem(margin-top, 60);
      @include pxRem(padding, 9 24);
      @include pxRem(font-size, 14);
      text-transform: uppercase;
      i {
        @include pxRem(margin-right, 4);
      }
      &:hover {
        background-color: map-get($colors, bg-black);
        border: 1px solid map-get($colors, bg-black);
      }
    }
  }
}
@include respond-below(largest) {
  .section-service {
    .service-top {
      .section-title::after {
        @include pxRem(top, 180);
      }
    }
  }
}
@include respond-below(wide) {
  .section-service {
    .service-top {
      @include pxRem(padding, 65 40 125);
      .section-title::after {
        @include pxRem(top, 130);
      }
      .btn-primary {
        @include pxRem(margin-top, 80);
      }
    }
    .service-bottom {
      height: auto;
      .main-content {
        @include pxRem(padding, 40 60);
        .section-title::after {
          display: none;
        }
      }
      .description {
        @include pxRem(margin-top, 20);
      }
      .btn-primary {
        @include pxRem(margin-top, 35);
      }
    }
  }
}
@include respond-below(medium) {
  .section-service {
    .service-top {
      @include pxRem(padding, 40);
      .section-title::after {
        @include pxRem(top, 215);
      }
      .btn-primary {
        @include pxRem(margin-top, 45);
      }
    }
    .service-bottom {
      height: auto;
      .col-6 {
        width: 100%;
      }
      .main-content {
        @include pxRem(top, 0);
        @include pxRem(padding, 65);
        position: static;
        .section-title::after {
          @include pxRem(top, 275);
        }
        .description {
          @include pxRem(margin-top, 50);
        }
      }
    }
  }
}
